h1 {
    font-family: 'Akaya Telivigala', cursive;
    font-size: 70px;
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 40px;
    font-family: 'Niconne', cursive;
}

h4 {
    font-size: 30px;
    font-family: 'Reggae One', cursive;
}

body {
    background-image: url('https://64.media.tumblr.com/ca456e221b52ea8a91ff04fb20bcc4b4/tumblr_pb42qvusaW1wh3n02o1_500.gifv');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: x-large;
}